section {
  display: flex;
  justify-content: center;
}
main {
  /*  margin: 0.2rem 0.5rem; */
  display: flex;
  margin-top: 3rem;
  justify-items: center;
  align-content: center;
  flex-direction: column;
}

.redirect {
  text-decoration: none;
  color: inherit;
}

.post__desc {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
article {
  width: 100%;
  width: 95vw;
  height: 12rem;
  margin: 0.3rem;
  border-radius: 2px;
  background: var(--card-bg-color);
}

/* article::after {
  background-color: black;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 0.5rem;
  display: block;
  width: 3rem;
  height: 4rem;
  content: '';
} */

.post__header {
  width: 100%;
  display: flex;
}
.post__info_container {
  height: 100%;
}
.post__title {
  width: 100%;
  display: grid;
  place-content: start;
  padding: 0 1.3rem 0 1.3rem;
}

.post__date-box {
  /* rgba(255, 111, 145, 0.4); */
  font-size: 0.65rem;
  width: 60%;
  overflow: hidden;
  text-align: left;
  font-weight: 400;
  color: #574144;
}
.post__info {
  display: flex;
}

.post__options {
  width: 100%;
  display: flex;
  height: 2.6rem;
  justify-content: flex-end;
  padding: 0.5rem;
}
.post__options div {
  width: 1rem;
  margin: 0.3rem;
  background-size: cover;
}
.post__options_save {
  background-image: var(--bookmark-icon);
}
.bookmark {
  fill: green;
}
.saved {
  background-image: var(--bookmark-check-icon);
}

.post__options_share {
  background-image: var(--share-icon);
}
.sending {
  background-image: url('img/sending.svg');
}
.post__options_pin {
  background-image: var(--pin-icon);
}

.pinned {
  background-image: var(--pinned-icon);
}
.post__item {
  width: 100%;
  height: 3rem;
  padding: 0 1.35rem;
  letter-spacing: 0.05rem;
}
.post__title_box {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: var(--card-title-color);
}
.post__author {
  font-size: 0.55rem;
  color: #9b9393;
  margin-bottom: 0.8rem;
  font-style: italic;
  padding: 0.1rem 0;
}
.post__preview {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.7rem;
  line-height: 1rem;
  height: 4rem;
  color: var(--card-preview-color);
  font-weight: 300;
}
