* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color-one: rgba(255, 195, 160, 0.8);
  --main-bg-color-two: rgba(255, 175, 189, 0.8);
  --body-bg-color: white;
  --card-bg-color: white;
  --card-title-color: black;
  --card-preview-color: #535050;
  --bookmark-icon: url('img/bookmark.svg');
  --bookmark-check-icon: url('img/bookmark-check.svg');
  --share-icon: url('img/share.svg');
  --pin-icon: url('img/pin.svg');
  --pinned-icon: url('img/pinned.svg');
  --lock-icon: url('img/lock.svg');
  --instagram-icon: url('img/instagram.svg');
  --twitter-icon: url('img/twitter.svg');
  --tag-bg-color: #efdfdc;
  /*Mobile Nav*/
  --mb-bg-color: white;
  --mb-list-color: black;
  --mb-profile-name-color: black;
  --mb-profile-view-color: rgba(0, 0, 0, 0.8);
  --home-icon: url('img/home.svg');
  --bookmarked-icon: url('img/bookmark-check.svg');
  --like-icon: url('img/like.svg');
  --settings-icon: url('img/settings.svg');
  --help-icon:  url('img/information.svg');
  --logout-icon: url('img/off.svg');
  --darkmode-icon: url('img/dark.svg');
  --close-icon: url('img/close.svg');
}

[data-theme='dark'] {
  --main-bg-color-one: rgba(101, 78, 163, 0.8);
  --main-bg-color-two: rgba(234, 175, 200, 0.8);
  --body-bg-color: #14161b;
  --card-bg-color: #22252b;
  --card-title-color: #efdfdc;
  --card-preview-color: #b7b2b2;
  --bookmark-icon: url('img/bookmark-dark.svg');
  --bookmark-check-icon: url('img/bookmark-check-dk.svg');
  --share-icon: url('img/share-dk.svg');
  --pin-icon: url('img/pin-dk.svg');
  --pinned-icon: url('img/pinned-dk.svg');
  --lock-icon:url('img/lock-dk.svg');
  --instagram-icon: url('img/instagram-dk.svg');
  --twitter-icon: url('img/twitter-dk.svg');
  --tag-bg-color: #9d779c;
  /*Mobile Nav*/
  --mb-bg-color:  #14161b;
  --mb-list-color: #efdfdc;
  --mb-profile-name-color: #efdfdc;
  --mb-profile-view-color: #b7b2b2;
  --home-icon: url('img/home-dk.svg');
  --bookmarked-icon: url('img/bookmark-mb-dk.svg');
  --like-icon: url('img/like-dk.svg');
  --settings-icon: url('img/settings-dk.svg');
  --help-icon: url('img/information-dk.svg');
  --logout-icon: url('img/off-dk.svg');
  --darkmode-icon: url('img/dark-dk.svg');
  --close-icon: url('img/close-dk.svg');
  
}
/* DARK GRADIENT linear-gradient(to left, #b2fefa, #0ed2f7);
--main-bg-color-two: rgba(178, 254, 250, 0.8);
  --main-bg-color-one: rgba(96, 222, 247, 0.8);
linear-gradient(to left, #654ea3, #eaafc8); */

body {
  font-family: 'Fira Sans', sans-serif;
  background: var(--body-bg-color);
}
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

header {
  height: 3rem;
  width: 100vw;
  position: fixed;
  text-align: center;
  color: white;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: -webkit-linear-gradient(
    to right,
    var(--main-bg-color-one),
    var(--main-bg-color-two)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--main-bg-color-one),
    var(--main-bg-color-two)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logo {
  color: black;
}
nav {
  text-align: center;
  width: 80vw;
}

.toggle-button {
  background-image: url('img/more-vertical-black.svg');
  background-size: contain;
  width: 1rem;
  background-repeat: no-repeat;
}
.post__tags {
  display: flex;
  padding: 0 0.5rem;
  height: 80%;
}
.post__tag {
  font-size: 0.55rem;
  padding: 0.1rem 0.3rem;
  margin: 0 0.1rem;
  background: var(--tag-bg-color);
  border-radius: 0.5rem;
}
.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.19);
}

/*Mobile SideBar*/
.close {
  width: 1rem;
  height: 1rem;
  background: var(--close-icon) no-repeat;
  background-size: cover;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.mobile-nav {
  transform: translateX(200%);
  position: fixed;
  z-index: 101;
  background: white;
  height: 100vh;
  width: 60%;
  right: 0;
  top: 0;
  transition: transform 300ms linear;
  color: black;
  background: var(--mb-bg-color);
}
.mobile-nav__profile {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 1rem;
}

.profile_photo {
  background: url('img/women-1.jpg');
  /* background: white; */
  background-size: cover;
  background-position: (50%, 50%);
  border-radius: 50%;
  border: 0.2rem solid white;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem auto;
  display: flex;
  align-content: center;
}
.profile_photo::before {
  content: '';
  position: absolute;
  z-index: -1;
  margin: -0.4rem;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgb(255, 195, 160, 0.8),
    rgb(217, 167, 199, 0.8)
  );
  width: 5.4rem;
  height: 5.4rem;
}

.profile_name {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.3rem;
  color: var(--mb-profile-name-color);
}
.profile_view {
  text-decoration: none;
  font-size: 0.65rem;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0.3rem;
  color: var(--mb-profile-view-color);
}

.mobile-nav__items ul {
  margin: none;
  padding: none;
}
.mobile-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  list-style: none;
  text-align: left;
  margin: -1.5rem 1rem;
  color: var(--mb-list-color);
}

.mobile-nav__item {
  margin: 1rem 0;
  text-decoration: none;
}

.mobile-nav__item a {
  font-size: 0.8rem;
}
.mobile-nav__item a:hover {
  cursor: pointer;
  color: rgb(217, 167, 199, 1);
}
.darkmode a:hover {
  cursor: unset;
  color: unset;
}
.iconbox {
  display: flex;
}
.icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.icon-saved-post {
  background: var(--bookmarked-icon);
}
.icon-home-post {
  background: var(--home-icon);
}
.icon-liked-post {
  background: var(--like-icon);
}
.icon-settings {
  background: var(--settings-icon);
}
.icon-help {
  background: var(--help-icon);
}
.icon-logout {
  background: var(--logout-icon);
}
.icon-dark {
  background: var(--darkmode-icon);
}
.darkmode {
  display: flex;
  justify-content: space-between;
}
.active {
  color: rgb(217, 167, 199, 1);
}
.switch {
  position: relative;
  display: inline-block;
  width: 2.18rem;
  height: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2rem;
}

.slider:before {
  position: absolute;
  content: '';
  height: 0.75rem;
  width: 0.75rem;
  left: 0.25rem;
  bottom: 0.125rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: rgb(217, 167, 199, 0.8);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(255, 195, 160, 0.8);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

footer {
  height: 2.5rem;
}
.footer_options {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.footer_options a {
  width: 1rem;
  margin: 0.3rem 1rem;
  padding: 0.5rem;
  background-size: cover;
}

.footer_option_privacy {
  background: var(--lock-icon);
}

.footer_option_instagram {
  background: var(--instagram-icon);
}

.footer_option_twitter {
  background: var(--twitter-icon);
}
